@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 100%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 14px 40px;
  border-bottom: 2px solid #C4C6CB;
}

nav img { width: 60px; }

nav h3 {
  color: #5f6bcc;
  font-weight: 800;
  letter-spacing: 4px;
  padding-bottom: 5px;
  font-size: 22px;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner starts */
.banner {
  display: grid;
  grid-template-columns: 65% 35%;
  font-family: 'Lato', sans-serif;
  border-bottom: 2px solid #C4C6CB;
}
.banner-info { 
  width: 90%;
  padding: 40px 20px 40px 40px; 
}
.banner-info h1, .banner-info h3 {
  color: #5f6bcc;
  padding: 0 100px 0 0;
  font-family: 'Lato', sans-serif;
}
.banner-info h1 {
  font-size: 30px;
  font-weight: bold;
}

.banner-info h3 { font-size: 23px; }

.banner-info h3:nth-of-type(1) { margin: 8px 0 20px 0 }

.banner-info h3:nth-of-type(2) { margin-bottom: 15px }

.banner-info p {
  font-size: 18px;
  color: #99A19E;
  padding-right: 170px;
  line-height: 27px;
}
.banner-info p a { 
  color: #4AEBB0; 
  transition: .2s ease-in-out;
}

.banner-info p a:hover { color: #09B073; }

.banner-info .banner-links { margin-top: 24px; }

.banner-info .banner-links a {
  font-size: 23px;
  margin: 0 10px 15px 0;
  color: white;
  background-color: #4AEBB0;
  padding: 14px 16px;
  border-radius: 3px;
  font-weight: bold;
}
.banner-info .banner-links a:hover {
  background-color: #09B073;
  transition: .2s ease-in-out;
}
.banner-content {
  background-color: #5f6bcc;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-content p {
  font-size: 18px;
  line-height: 35px;
}
.banner-content p:nth-of-type(1) {
  padding: 30px 100px 0 100px;
  line-height: 30px;
}
.banner-content p:nth-of-type(2) {
  padding: 5px 130px 0 130px;
  line-height: 30px;
}

.banner-content p span { font-size: 30px; }

.banner-content .content-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.banner-content .content-slider i {
  font-size: 44px;
  padding: 0 20px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.banner-content .content-slider i:hover { color: #C4C6CB; }

.content-slider hr {
  width: 100px;
  margin: 0 10px;
}

.banner-content .employees { margin: 10px auto; }

.banner-content .employees i {
  font-size: 28px;
  padding: 0 5px;
  opacity: .7;
}

.banner-content .employees:nth-of-type(1) i:nth-of-type(1) { opacity: 1; }

.banner-content .employees:nth-last-child(2) i:nth-of-type(1),
.banner-content .employees:nth-last-child(2) i:nth-of-type(2),
.banner-content .employees:nth-last-child(2) i:nth-of-type(3),
.banner-content .employees:nth-last-child(2) i:nth-of-type(4) { opacity: 1; }

.banner-content .slider-dots { padding-top: 100px; }

.banner-content .slider-dots i { 
  font-size: 14px; 
  padding: 0 2px;
  opacity: .7;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.banner-content .slider-dots i:hover { opacity: 1; }

.banner-content .slider-dots i:nth-of-type(3) { opacity: 1; }
/* banner ends */

/* connect starts */
.connect {
  padding-bottom: 32px;
  border-bottom: 2px solid #C4C6CB;
}
.connect > h1 {
  color: #5f6bcc;
  font-size: 30px;
  font-weight: bold;
  padding: 36px;
  letter-spacing: 1px;
}
.connect .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.connect article { padding: 0 42px; }

.connect article h2 {
  padding: 10px 30px;
  font-size: 22px;
  font-weight: bold;
  color: #4AEBB0;
}
.connect figcaption {
  font-size: 16px;
  letter-spacing: .5px;
  font-weight: bold;
  color: #99A19E;
  margin: 5px 75px;
}
.connect .stars {
  padding: 10px 0 0 0;
  color: #5f6bcc;
}
.connect article img {
  width: 180px;
  border: 2px solid #5f6bcc;
}
.connect article p {
  padding: 20px 80px;
  font-size: 14px;
  color: #666;
}
/* connect ends */

/* working starts */
.working {
  padding: 42px;
  border-bottom: 2px solid #C4C6CB;
}
.working h1 {
  color: #5f6bcc;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: .6px;
}
.working .wrapper ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.working ul li { padding: 40px; }

.working ul li i {
  font-size: 36px;
  color: white;
  background-color: #5f6bcc;
  padding: 22px;
  border-radius: 50%;
}
.working ul li h2 {
  padding: 30px 10px 10px 10px;
  font-size: 22px;
  font-weight: bold;
  color: #666;
}
.working ul li p {
  padding: 5px;
  font-size: 20px;
  color: #99A19E;
}
/* working ends */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
/* testimonials starts */
footer {
  background-color: #5f6bcc;
  color: white;
  position: relative;
}
footer h1 {
  padding: 42px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
}
footer .wrapper .left-key, footer .wrapper .right-key {
  cursor: pointer;
  transition: .2s ease-in-out;
}

footer .wrapper .left-key:hover, footer .wrapper .right-key:hover { color: #C4C6CB; }

footer .wrapper .left-key {
  position: absolute;
  font-size: 52px;
  top: 45%;
  bottom: 40%;
  left: 5%;
}
footer .wrapper .right-key {
  position: absolute;
  font-size: 52px;
  top: 45%;
  bottom: 40%;
  right: 5%;
}
footer .wrapper p {
  padding: 0 140px 0 140px;
  font-size: 19px;
  color: white;
  text-align: center;
}
footer .slider-dots {
  text-align: center;
  padding: 42px 0;
}
footer .slider-dots i {
  font-size: 20px;
  padding: 0 2px;
  opacity: .7;
  cursor: pointer;
  transition: .2s ease-in-out;
}

footer .slider-dots i:hover { opacity: 1; }

footer .slider-dots i:nth-of-type(4) { opacity: 1; }
/* testimonials ends */

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1215px) {
  .banner-info { width: 100%; }

  .banner { grid-template-columns: 60% 40%; }
}
@media only screen and (max-width: 1024px) {
  .banner-info .banner-links a { font-size: 14px; }

  .connect article { padding: 0 10px; }

  .connect article h2 { padding: 10px 25px; }

  .connect figcaption { margin: 5px 20px; }
}  
@media only screen and (max-width: 995px) {
  .banner { grid-template-columns: 1fr 1fr; }

  .banner-info { 
    width: 100%;
    padding-bottom: 10px;
  }
  .banner-info h3 { padding-right: 50px; }

  .banner-info p { padding-right: 70px; }

  .banner-links a { font-size: 12px; }

  .connect article p { padding: 25px; }

  .working h1 { margin-bottom: 20px; }

  .working ul li { padding: 10px; }

  .working ul li i { padding: 24px; }

  .working ul li h2 { padding: 30px 10px 5px 10px; }

  .working ul li p {
    padding: 5px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .banner {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0;
  }

  .banner .banner-info { width: 90%; }

  .banner-content { width: 100%; }

  .banner-content p { padding: 40px auto; }

  .banner-content .content-slider { width: 100%; }
  
  .banner-content .slider-dots { padding: 20px 0; }

  .connect { text-align: center; }

  .connect .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .working { text-align: center; }
  
  .working .wrapper ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .working .wrapper ul li { padding: 20px 80px; }

  footer .wrapper { text-align: center; }
}
@media only screen and (max-width: 540px) {
  .banner {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0;
    border-top: 2px solid #99A19E;
  }

  .banner .banner-info { padding: 10px; }

  nav {
    justify-content: center;
    border: none
  }

  nav h3 { font-size: 16px; }

  .banner-content { 
    width: 100%;
    padding: 0;
   }

  .banner-content p { padding: 0; }

  .banner-content .content-slider hr { width: 80px; }
  
  .banner-content .slider-dots { padding: 20px 0; }

  .working .wrapper ul li { padding: 10px; }

  footer .wrapper h1 { padding-bottom: 10px; }

  footer .wrapper p {
    padding: 0 40px;
    font-size: 14px;
  }
  footer .wrapper .left-key {
    font-size: 24px;
    left: 2%;
  }
  footer .wrapper .right-key {
    font-size: 24px;
    right: 2%;
  }
}